/*
*   name           FavSlider
*   version        1.7
*   description    Responsive Joomla! Slider based on Flexslider 2 by Woothemes
*   demo           http://extensions.favthemes.com/favslider
*   author         FavThemes
*   author URL     http://www.favthemes.com
*   copyright      Copyright (C) 2015 FavThemes.com. All Rights Reserved.
*   license        Licensed under GNU/GPLv3, see http://www.gnu.org/licenses/gpl-3.0.html
*
****************************************************************************
*
*		flexslider		 jQuery FlexSlider v2.0
*									 http://www.woothemes.com/flexslider/
*									 Copyright 2012 WooThemes
*									 Free to use under the GPLv2 license.
*									 http://www.gnu.org/licenses/gpl-2.0.html
*									 Contributing author: Tyler Smith (@mbmufffin)
*/

/*
******************************************************************************************

1. reset
2. default style
3. layout
4. carousel
5. caption
6. arrow navigation
7. thumbnail navigation
8. read more

******************************************************************************************
*/

/*
******************************************************************************************

/// favslider css

******************************************************************************************
*/

  /*
  /////////////////////////////////

1. reset

  /////////////////////////////////
  */

.fav-container a:active,
.favslider a:active,
.fav-container a:focus,
.favslider a:focus  {
	outline: none;
}
.favs,
.fav-control-nav,
.fav-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

  /*
  /////////////////////////////////

2. default style

  /////////////////////////////////
  */

.favslider {
	margin: 0;
	padding: 0;
  opacity: 0;
}
.favslider .favs > li {	/* Hide the favs before the JS is loaded. Avoids image jumping */
	display: none;
	-webkit-backface-visibility: hidden;
	background: none!important;
	padding: 0px!important;
	position: relative;
}
.favslider .favs img {
	width: 100%;
	display: block;
}
.fav-pauseplay span {
	text-transform: capitalize;
}
.favs:after {	/* clearfix for the .favs element */
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .favs {
	display: block;
}
* html .favs {
	height: 1%;
}

/* if you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */

.no-js .favs > li:first-child {	/* no JavaScript Fallback */
	display: block;
}

  /*
  /////////////////////////////////

3. layout

  /////////////////////////////////
  */

.favslider {
	margin: 0 0 38px;
	position: relative;
	zoom: 1;
}
div[id^="carousel-"].favslider,
div[id*=" carousel-"].favslider {
  margin-bottom: 3px;
}
.favslider .favs {
	zoom: 1;
}
.favslider li:before {
  display: none;
}
.fav-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .fav-viewport {
	max-height: 300px;
}

  /*
  /////////////////////////////////

4. carousel

  /////////////////////////////////
  */

#carousel img {
	display: block;
	opacity: .5;
	filter:alpha(opacity=50);
	cursor: pointer;
}
#carousel img:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}
#carousel .fav-active-slide img {
	opacity: 1;
	filter:alpha(opacity=100);
	cursor: default;
}
#carousel li:active img {
  opacity: 1;
}
.carousel li {
	margin-right: 5px;
}

  /*
  /////////////////////////////////

5. caption

  /////////////////////////////////
  */

/*
///  caption text align
*/

#fav-caption.favalign-left,
#fav-caption.favalign-left h3,
#fav-caption.favalign-left p {
	text-align: left;
}
#fav-caption.favalign-center,
#fav-caption.favalign-center h3,
#fav-caption.favalign-center p {
	text-align: center;
}
#fav-caption.favalign-right,
#fav-caption.favalign-right h3,
#fav-caption.favalign-right p {
	text-align: right;
}

/*
///  caption CSS3 effects
*/

/*/  js classes  /*/

.favhide { opacity:0; }
.favshow { opacity:1; }

/*/  no effect  /*/

.layout-effect-none {
   -webkit-animation: none;
   -moz-animation: none;
   -o-animation: none;
   -ms-animation: none;
   animation: none;
}

/*/  effect 1  /*/

.layout-effect1 {
  -webkit-animation-name: layout-effect1;
  -moz-animation-name: layout-effect1;
  animation-name: layout-effect1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect1 {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@-moz-keyframes layout-effect1 {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes layout-effect1 {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/*/  effect 2  /*/

.layout-effect2 {
  -webkit-animation-name: layout-effect2;
  -moz-animation-name: layout-effect2;
  animation-name: layout-effect2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect2 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

}

@-moz-keyframes layout-effect2 {

  0% {
    opacity: 0;
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }

}

@keyframes layout-effect2 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: translate3d(0, -100%, 0);
    transform: none;
  }

}

/*/  effect 3  /*/

.layout-effect3 {
  -webkit-animation-name: layout-effect3;
  -moz-animation-name: layout-effect3;
  animation-name: layout-effect3;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect3 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

}

@-moz-keyframes layout-effect3 {

  0% {
    opacity: 0;
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }

}

@keyframes layout-effect3 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

}

/*/  effect 4  /*/

.layout-effect4 {
  -webkit-animation-name: layout-effect4;
  -moz-animation-name: layout-effect4;
  animation-name: layout-effect4;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect4 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

}

@-moz-keyframes layout-effect4 {

  0% {
    opacity: 0;
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }

}


@keyframes layout-effect4 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

}

/*/  effect 5  /*/

.layout-effect5 {
  -webkit-animation-name: layout-effect5;
  -moz-animation-name: layout-effect5;
  animation-name: layout-effect5;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect5 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

}

@-moz-keyframes layout-effect5 {

  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }

}

@keyframes layout-effect5 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

}

/*/  effect 6  /*/

.layout-effect6 {
  -webkit-animation-name: layout-effect6;
  -moz-animation-name: layout-effect6;
  animation-name: layout-effect6;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect6 {

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }

}

@-moz-keyframes layout-effect6 {

  0% {
    opacity: 0;
    -moz-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }

}

@keyframes layout-effect6 {

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -moz-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }

}

/*/  effect 7  /*/

.layout-effect7 {
  -webkit-animation-name: layout-effect7;
  -moz-animation-name: layout-effect7;
  animation-name: layout-effect7;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect7 {

  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

}

@-moz-keyframes layout-effect7 {

  0% {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -moz-transform: perspective(400px);
    transform: perspective(400px);
  }

}

@keyframes layout-effect7 {

  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    -moz-transform: perspective(400px);
    transform: perspective(400px);
  }

}

/*/  effect 8  /*/

.layout-effect8 {
  -webkit-animation-name: layout-effect8;
  -moz-animation-name: layout-effect8;
  animation-name: layout-effect8;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect8 {

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }

}

@keyframes layout-effect8 {

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }

}

/*
///  caption style
*/

#fav-caption {
	position: absolute;
	zoom: 1;
}
#fav-caption.favstyle-default {
	width: 96%;
	margin: 0;
	padding: 2%;
	left: 0;
	bottom: 0;
}
#fav-caption.favstyle-center {
	width: 40%;
  height: 24%;
  margin: auto;
  padding: 2%;
  top: 0; left: 0; bottom: 0; right: 0;
}

/*
///  caption style background
*/

/*/  dark  /*/

#fav-caption.favstyle-bg-dark {
	background: rgba(17, 17, 17, 0.67);
}
#fav-caption.favstyle-bg-dark h3,
#fav-caption.favstyle-bg-dark p {
		color: #fff;
}

/*/  light  /*/

#fav-caption.favstyle-bg-light {
	background: rgba(255, 255, 255, 0.67);
}
#fav-caption.favstyle-bg-light h3,
#fav-caption.favstyle-bg-light p {
	color: #222;
}

/*/  transparent  /*/

#fav-caption.favstyle-bg-transparent {
	background: transparent;
}
#fav-caption.favstyle-bg-transparent h3,
#fav-caption.favstyle-bg-transparent p {
	color: #fff;
}

/*
///  caption title
*/

#fav-caption h3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.3em;
  border: none;
  text-shadow: none;
  box-shadow: none;
}

  /*
  /////////////////////////////////

6. arrow navigation

  /////////////////////////////////
  */

.fav-direction-nav {
	*height: 0;
}
.fav-direction-nav a {
	width: 52px !important;
  height: 52px !important;
  margin: -26px 0 0;
	display: block;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: all 400ms linear 0s;
	transition: all 400ms linear 0s;
}
.favslider.light-arrows .fav-direction-nav a {
	background: url(../img/bg_direction_nav.png) no-repeat 0 0;
}
.favslider.dark-arrows .fav-direction-nav a {
	background: url(../img/bg_direction_nav_dark.png) no-repeat 0 0;
}
.favslider.light-arrows .fav-direction-nav .fav-next,
.favslider.dark-arrows .fav-direction-nav .fav-next {
	background-position: 100% 0;
	right: 0px;
}
.favslider.light-arrows .fav-direction-nav .fav-prev,
.favslider.dark-arrows .fav-direction-nav .fav-prev {
	left: 0px;
}
.favslider.light-arrows .fav-direction-nav li .fav-prev,
.favslider.dark-arrows .fav-direction-nav li .fav-prev {
  left: 0px;
}
.favslider.light-arrows .fav-direction-nav li .fav-next,
.favslider.dark-arrows .fav-direction-nav li .fav-next {
  background-position: -52px 0;
  right: 0;
}
.favslider:hover .fav-next {
	opacity: 0.8;
	filter:alpha(opacity=80);
	right: 5px;
}
.favslider:hover .fav-prev {
	opacity: 0.8;
	filter:alpha(opacity=80);
	left: 5px;
}
.favslider:hover .fav-next:hover,
.favslider:hover .fav-prev:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}
.fav-direction-nav .fav-disabled {
	cursor: default;
}
.fav-disabled:hover {
	opacity: 0.3!important;
	filter:alpha(opacity=30)!important;
}
.fav-direction-nav li {
	margin: 0!important;
	padding: 0!important;
}

  /*
  /////////////////////////////////

7. thumbnail navigation

  /////////////////////////////////
  */

.fav-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	left:0;
	text-align: center;
}
.fav-control-nav li {
	margin: 0!important;
	display: inline-block;
	zoom: 1;
	*display: inline;
	background: none!important;
	padding: 0!important;
}

/*
///  dots
*/

.fav-control-paging li a {
	background-color: rgba(17, 17, 17, 0.27);
	width: 14px;
	height: 14px;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	box-shadow: inset 0 0 3px rgba(17, 17, 17, 0.47);
	-webkit-transition: box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	margin-right: 3px;
	margin-left: 3px;
}
.fav-control-paging li a:hover,
.fav-control-paging li a:focus,
.fav-control-paging li a.fav-active {
  background: rgba(17, 17, 17, 0.87);
}

/*
///  thumbs
*/

.fav-control-thumbs {
	position: relative;
}
.fav-control-nav.fav-control-thumbs {
  bottom: 0;
}
.fav-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.fav-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
.fav-control-thumbs img:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}
.fav-control-thumbs .fav-active {
	opacity: 1;
	cursor: default;
	filter:alpha(opacity=100);
}

@media screen and (max-width: 860px) {

  .fav-direction-nav .fav-prev {
  	opacity: 1; filter:alpha(opacity=100);
  	left: 0;
  }
  .fav-direction-nav .fav-next {
  	opacity: 1;
  	filter:alpha(opacity=100);
  	right: 0;
  }

}

  /*
  /////////////////////////////////

8. read more

  /////////////////////////////////
  */

p.favreadmore.btn {
	margin-bottom: 0;
  margin-top: 7px;
}

  /*
  /////////////////////////////////

9. video

  /////////////////////////////////
  */

.fav-video {

}