/*
*   name           FavEffects
*   version        1.5
*   description    Responsive and customizable Joomla!3 module
*   demo           http://extensions.favthemes.com/faveffects
*   author         FavThemes
*   author URL     http://www.favthemes.com
*   copyright      Copyright (C) 2015 FavThemes.com. All Rights Reserved.
*   license        Licensed under GNU/GPLv3, see http://www.gnu.org/licenses/gpl-3.0.html
*/

/*
******************************************************************************************

1. reset
2. layout
3. content
4. grid
5. icon effects
6. layout effects

******************************************************************************************
*/

/*
******************************************************************************************

/// faveffects css

******************************************************************************************
*/

  /*
  /////////////////////////////////

1. reset

  /////////////////////////////////
  */

div[id^="faveffects"] a,
div[id*=" faveffects"] a,
div[id^="faveffects"] a:hover,
div[id*=" faveffects"] a:hover,
div[id^="faveffects"] a:focus,
div[id*=" faveffects"] a:focus {
  text-decoration: none!important;
}

  /*
  /////////////////////////////////

2. layout

  /////////////////////////////////
  */

div[id^="faveffects-box"],
div[id*=" faveffects-box"] {
  position: relative;
  margin-bottom: 14px;
  margin-top: 14px;
}

  /*
  /////////////////////////////////

3. content

  /////////////////////////////////
  */

/*
///  icon
*/

div[id^="faveffects-icon"] i,
div[id*=" faveffects-icon"] i {
  float: left;
  width: 100%;
  padding: 50% 0;
  margin-top: -0.5em;
  text-align: center;
}
div[id^="faveffects-icon"],
div[id*=" faveffects-icon"] {
  cursor: pointer;
  margin: 0 auto;
}
div[id^="faveffects-icon"]:after,
div[id*=" faveffects-icon"]:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

/*
///  title
*/

p[id^="faveffects-title"],
p[id*=" faveffects-title"] {
  margin: 0 0 21px 0;
  text-align: center;
  clear: both;
}
p[id^="faveffects-title"] a,
p[id*=" faveffects-title"] a {
  color: #444;
  line-height: 1.3em;
  text-decoration: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

  /*
  /////////////////////////////////

4. grid

  /////////////////////////////////
  */

@media (min-width: 981px) {

  /*
  ///  6 columns
  */

  div[id^="faveffects-box"].span2 h4,
  div[id*=" faveffects-box"].span2 h4 {
    font-size: 14px;
  }
  div[id^="faveffects-box"].span2 div[id^="faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span2 div[id^="faveffects-description-icon"] i,
  div[id^="faveffects-box"].span2 div[id*=" faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span2 div[id*=" faveffects-description-icon"] i {
    font-size: 1.2em;
  }
  div[id^="faveffects-box"].span2 div[id^="faveffects-icon"] i,
  div[id*=" faveffects-box"].span2 div[id^="faveffects-icon"] i,
  div[id^="faveffects-box"].span2 div[id*=" faveffects-icon"] i,
  div[id*=" faveffects-box"].span2 div[id*=" faveffects-icon"] i {
    font-size: 3.3em;
  }

  /*
  ///  5 columns
  */

  div[id^="faveffects-box"].span2-4,
  div[id*=" faveffects-box"].span2-4 {
    width: 17.790056%;
  }

  div[id^="faveffects-box"].span2-4 h4,
  div[id*=" faveffects-box"].span2-4 h4 {
    font-size: 16px;
  }
  div[id^="faveffects-box"].span2-4 div[id^="faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span2-4 div[id^="faveffects-description-icon"] i,
  div[id^="faveffects-box"].span2-4 div[id*=" faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span2-4 div[id*=" faveffects-description-icon"] i {
    font-size: 1.4em;
  }
  div[id^="faveffects-box"].span2-4 div[id^="faveffects-icon"] i,
  div[id*=" faveffects-box"].span2-4 div[id^="faveffects-icon"] i,
  div[id^="faveffects-box"].span2-4 div[id*=" faveffects-icon"] i,
  div[id*=" faveffects-box"].span2-4 div[id*=" faveffects-icon"] i {
    font-size: 4em;
  }

  /*
  ///  4 columns
  */

  div[id^="faveffects-box"].span3 h4,
  div[id*=" faveffects-box"].span3 h4 {
    font-size: 18px;
  }
  div[id^="faveffects-box"].span3 div[id^="faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span3 div[id^="faveffects-description-icon"] i,
  div[id^="faveffects-box"].span3 div[id*=" faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span3 div[id*=" faveffects-description-icon"] i {
    font-size: 1.8em;
  }
  div[id^="faveffects-box"].span3 div[id^="faveffects-icon"] i,
  div[id*=" faveffects-box"].span3 div[id^="faveffects-icon"] i,
  div[id^="faveffects-box"].span3 div[id*=" faveffects-icon"] i,
  div[id*=" faveffects-box"].span3 div[id*=" faveffects-icon"] i {
    font-size: 5em;
  }

  /*
  ///  3 columns
  */

  div[id^="faveffects-box"].span4 h4,
  div[id*=" faveffects-box"].span4 h4 {
    font-size: 24px;
  }
  div[id^="faveffects-box"].span4 div[id^="faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span4 div[id^="faveffects-description-icon"] i,
  div[id^="faveffects-box"].span4 div[id*=" faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span4 div[id*=" faveffects-description-icon"] i {
    font-size: 2em;
  }
  div[id^="faveffects-box"].span4 div[id^="faveffects-icon"] i,
  div[id*=" faveffects-box"].span4 div[id^="faveffects-icon"] i,
  div[id^="faveffects-box"].span4 div[id*=" faveffects-icon"] i,
  div[id*=" faveffects-box"].span4 div[id*=" faveffects-icon"] i {
    font-size: 8em;
  }

  /*
  ///  2 columns
  */

  div[id^="faveffects-box"].span6 h4,
  div[id*=" faveffects-box"].span6 h4 {
    font-size: 28px;
  }
  div[id^="faveffects-box"].span6 div[id^="faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span6 div[id^="faveffects-description-icon"] i,
  div[id^="faveffects-box"].span6 div[id*=" faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span6 div[id*=" faveffects-description-icon"] i {
    font-size: 2.4em;
  }
  div[id^="faveffects-box"].span6 div[id^="faveffects-icon"] i,
  div[id*=" faveffects-box"].span6 div[id^="faveffects-icon"] i,
  div[id^="faveffects-box"].span6 div[id*=" faveffects-icon"] i,
  div[id*=" faveffects-box"].span6 div[id*=" faveffects-icon"] i {
    font-size: 12em;
  }

  /*
  ///  1 columns
  */

  div[id^="faveffects-box"].span12 h4,
  div[id*=" faveffects-box"].span12 h4 {
    font-size: 32px;
  }
  div[id^="faveffects-box"].span12 div[id^="faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span12 div[id^="faveffects-description-icon"] i,
  div[id^="faveffects-box"].span12 div[id*=" faveffects-description-icon"] i,
  div[id*=" faveffects-box"].span12 div[id*=" faveffects-description-icon"] i {
    font-size: 5em;
  }
  div[id^="faveffects-box"].span12 div[id^="faveffects-icon"] i,
  div[id*=" faveffects-box"].span12 div[id^="faveffects-icon"] i,
  div[id^="faveffects-box"].span12 div[id*=" faveffects-icon"] i,
  div[id*=" faveffects-box"].span12 div[id*=" faveffects-icon"] i {
    font-size: 20em;
  }

}

@media handheld, only screen and (max-width: 980px) {

  div[id^="faveffects-icon"],
  div[id*=" faveffects-icon"] {
    width: 80%!important;
  }
  div[id^="faveffects-icon"] i,
  div[id*=" faveffects-icon"] i {
    font-size: 5em!important;
  }
  div[id^="faveffects-box"].span2,
  div[id*=" faveffects-box"].span2,
  div[id^="faveffects-box"].span2-4,
  div[id*=" faveffects-box"].span2-4,
  div[id^="faveffects-box"].span3,
  div[id*=" faveffects-box"].span3,
  div[id^="faveffects-box"].span4,
  div[id*=" faveffects-box"].span4,
  div[id^="faveffects-box"].span6,
  div[id*=" faveffects-box"].span6  {
    margin-left: 2.127659574468085%;
    float:left;
  }
  div[id^="faveffects-box"].span2,
  div[id*=" faveffects-box"].span2,
  div[id^="faveffects-box"].span2-4,
  div[id*=" faveffects-box"].span2-4,
  div[id^="faveffects-box"].span4,
  div[id*=" faveffects-box"].span4 {
    width: 31.6239%!important;
  }
  div[id^="faveffects-box"].span2:first-child,
  div[id*=" faveffects-box"].span2:first-child,
  div[id^="faveffects-box"].span2-4:first-child,
  div[id*=" faveffects-box"].span2-4:first-child,
  div[id^="faveffects-box"].span4:first-child,
  div[id*=" faveffects-box"].span4:first-child,
  div[id^="faveffects-box"].span6:first-child,
  div[id*=" faveffects-box"].span6:first-child {
    margin-left: 0;
  }
  div[id^="faveffects-box"].span2:nth-child(4),
  div[id*=" faveffects-box"].span2:nth-child(4),
  div[id^="faveffects-box"].span2-4:nth-child(4),
  div[id*=" faveffects-box"].span2-4:nth-child(4) {
    margin-left: 0;
    clear: both;
  }

}

@media handheld, only screen and (max-width: 768px) {

  div[id^="faveffects-icon"],
  div[id*=" faveffects-icon"] {
    width: 80%!important;
  }
  div[id^="faveffects-box"].span3,
  div[id*=" faveffects-box"].span3 {
    margin-left: 2.127659574468085%;
    float:left;
  }
  div[id^="faveffects-box"].span3:first-child,
  div[id*=" faveffects-box"].span3:first-child {
    margin-left: 0;
  }
  div[id^="faveffects-box"].span3:nth-child(4),
  div[id*=" faveffects-box"].span3:nth-child(4) {
    margin-left: 0;
    clear: both;
  }

  /* columns into 2 rows */

  div[id^="faveffects-box"].span2,
  div[id*=" faveffects-box"].span2,
  div[id^="faveffects-box"].span2-4,
  div[id*=" faveffects-box"].span2-4,
  div[id^="faveffects-box"].span3,
  div[id*=" faveffects-box"].span3,
  div[id^="faveffects-box"].span4,
  div[id*=" faveffects-box"].span4,
  div[id^="faveffects-box"].span6,
  div[id*=" faveffects-box"].span6 {
    width: 48.93617021276595%!important;
    float: left !important;
  }
  div[id^="faveffects-box"].span2:nth-child(odd),
  div[id*=" faveffects-box"].span2:nth-child(odd),
  div[id^="faveffects-box"].span2-4:nth-child(odd),
  div[id*=" faveffects-box"].span2-4:nth-child(odd),
  div[id^="faveffects-box"].span3:nth-child(odd),
  div[id*=" faveffects-box"].span3:nth-child(odd),
  div[id^="faveffects-box"].span4:nth-child(odd),
  div[id*=" faveffects-box"].span4:nth-child(odd) {
    margin-left: 0!important;
    clear: both!important;
  }
  div[id^="faveffects-box"].span2:nth-child(even),
  div[id*=" faveffects-box"].span2:nth-child(even),
  div[id^="faveffects-box"].span2-4:nth-child(even),
  div[id*=" faveffects-box"].span2-4:nth-child(even),
  div[id^="faveffects-box"].span3:nth-child(even),
  div[id*=" faveffects-box"].span3:nth-child(even),
  div[id^="faveffects-box"].span4:nth-child(even),
  div[id*=" faveffects-box"].span4:nth-child(even) {
    margin-left: 2.127659574468085%!important;
    clear: none!important;
  }

}

@media handheld, only screen and (max-width: 480px) {

  div[id^="faveffects-icon"] i,
  div[id*=" faveffects-icon"] i {
    font-size: 8em;
  }
  div[id^="faveffects-box"].span2,
  div[id*=" faveffects-box"].span2,
  div[id^="faveffects-box"].span2-4,
  div[id*=" faveffects-box"].span2-4,
  div[id^="faveffects-box"].span3,
  div[id*=" faveffects-box"].span3,
  div[id^="faveffects-box"].span4,
  div[id*=" faveffects-box"].span4,
  div[id^="faveffects-box"].span6,
  div[id*=" faveffects-box"].span6 {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
  div[id^="faveffects-box"].span2:nth-child(4),
  div[id*=" faveffects-box"].span2:nth-child(4),
  div[id^="faveffects-box"].span2-4:nth-child(4),
  div[id*=" faveffects-box"].span2-4:nth-child(4),
  div[id^="faveffects-box"].span3:nth-child(4),
  div[id*=" faveffects-box"].span3:nth-child(4),
  div[id^="faveffects-box"].span2-4:last-child,
  div[id*=" faveffects-box"].span2-4:last-child,
  div[id^="faveffects-box"].span4:last-child,
  div[id*=" faveffects-box"].span4:last-child {
    width: 100%!important;
  }
  div[id^="faveffects-box"].span2:nth-child(4),
  div[id*=" faveffects-box"].span2:nth-child(4),
  div[id^="faveffects-box"].span2-4:nth-child(4),
  div[id*=" faveffects-box"].span2-4:nth-child(4),
  div[id^="faveffects-box"].span3:nth-child(4),
  div[id*=" faveffects-box"].span3:nth-child(4) {
    margin-left: 0!important;
  }

}

  /*
  /////////////////////////////////

5. icon effects

  /////////////////////////////////
  */

/*
///  no effect
*/

.faveffects-effect-none {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/*
///  effect 1
*/

.faveffects-effect1 {
  -webkit-transition: all 1s ease-in-out 0s;
          transition: all 1s ease-in-out 0s;
}
.faveffects-effect1:hover {
  -webkit-transform: rotate(-360deg) scale(1, 1);
  -moz-transform: rotate(-360deg) scale(1, 1);
  -o-transform: rotate(-360deg) scale(1, 1);
  transform: rotate(-360deg) scale(1, 1);
  background-color: #eee!important;
  border-color: #444!important;
  color: #444!important;
}
.faveffects-effect1 i:hover {
  color: #444!important;
}

/*
///  effect 2
*/

.faveffects-effect2:hover {
  animation-name: faveffect2;
  -webkit-animation-name: faveffect2;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  background-color: #eee!important;
  border-color: #444!important;
}
.faveffects-effect2 i:hover {
  color: #444!important;
}

@-webkit-keyframes faveffect2 {

  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

}

@-moz-keyframes faveffect2 {

  0% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -moz-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }

  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

}

@keyframes faveffect2 {

  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    -moz-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

}

/*
///  effect 3
*/

.faveffects-effect3 {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: rotate(0deg);
}
.faveffects-effect3:hover {
  -webkit-transform: rotate(720deg) scale(1.1, 1.1);
  -moz-transform: rotate(720deg) scale(1.1, 1.1);
  -o-transform: rotate(720deg) scale(1.1, 1.1);
  transform: rotate(720deg) scale(1.1, 1.1);
  transition: all 2s ease-in-out 0s;
  background-color: #eee!important;
  border-color: #444!important;
  color: #444!important;
}
.faveffects-effect3 i:hover {
  color: #444!important;
}

/*
///  effect 4
*/

.faveffects-effect4 {
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: rotateY(0deg);
}
.faveffects-effect4:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-perspective-origin: 50% 100px;
  -moz-perspective-origin: 50% 100px;
  -o-perspective-origin: 50% 100px;
  perspective-origin: 50% 100px;
  -webkit-transition: all 2s ease-in-out 0s;
  -moz-transition: all 2s ease-in-out 0s;
  -o-transition: all 2s ease-in-out 0s;
  transition: all 2s ease-in-out 0s;
  background-color: #eee!important;
  border-color: #444!important;
  color: #444!important;
}
.faveffects-effect4 i:hover {
  color: #444!important;
}

/*
///  effect 5
*/

.faveffects-effect5 {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(0deg)
}
.faveffects-effect5:hover {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-animation: faveffect5 2s linear infinite;
  -moz-animation: faveffect5 2s linear infinite;
  animation: faveffect5 2s linear infinite;
  background-color: #eee!important;
  border-color: #444!important;
  color: #444!important;
}
.faveffects-effect5 i:hover {
  color: #444!important;
}

@-webkit-keyframes faveffect5 {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes faveffect5 {
  from {
    -moz-transform: rotate(0deg)
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes faveffect5 {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

/*
///  effect 6
*/

.faveffects-effect6 {
  -webkit-transition: 700ms;
  -o-transition: 700ms;
  transition: 700ms;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.faveffects-effect6:hover {
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  -o-transform: translateY(10%);
  transform: translateY(10%);
  background-color: #eee!important;
  border-color: #444!important;
  color: #444!important;
}
.faveffects-effect6 i:hover {
  color: #444!important;
}

/*
///  effect 7
*/

.faveffects-effect7 {
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.faveffects-effect7:hover,
.faveffects-effect7:focus {
  -webkit-animation-name: faveffect7;
  animation-name: faveffect7;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  background-color: #eee!important;
  border-color: #444!important;
  color: #444!important;
}
.faveffects-effect7 i:hover {
  color: #444!important;
}

@-webkit-keyframes faveffect7 {

  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

}

@-moz-keyframes faveffect7 {

  0% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -moz-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -moz-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -moz-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -moz-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -moz-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

}

@keyframes faveffect7 {

  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -moz-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -moz-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    -moz-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    -moz-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    -moz-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

}

/*
///  effect 8
*/

.faveffects-effect8 {
  -webkit-transition: all 2s ease-in-out 0s;
  -moz-transition: all 2s ease-in-out 0s;
  -o-transition: all 2s ease-in-out 0s;
  transition: all 2s ease-in-out 0s;
}
.faveffects-effect8:hover {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-perspective-origin: 50% 100px;
  -moz-perspective-origin: 50% 100px;
  -o-perspective-origin: 50% 100px;
  perspective-origin: 50% 100px;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

  /*
  /////////////////////////////////

6. layout effects

  /////////////////////////////////
  */

/*
///  js classes
*/

.favhide { opacity:0; }
.favshow { opacity:1; }

/*
///  no layout effect
*/

.layout-effect-none {
   -webkit-animation: none;
   -moz-animation: none;
   -o-animation: none;
   -ms-animation: none;
   animation: none;
}

/*
///  layout effect 1
*/

.layout-effect1 {
  -webkit-animation-name: layout-effect1;
  -moz-animation-name: layout-effect1;
  animation-name: layout-effect1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect1 {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@-moz-keyframes layout-effect1 {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes layout-effect1 {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/*
///  layout effect 2
*/

.layout-effect2 {
  -webkit-animation-name: layout-effect2;
  -moz-animation-name: layout-effect2;
  animation-name: layout-effect2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect2 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

}

@-moz-keyframes layout-effect2 {

  0% {
    opacity: 0;
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }

}

@keyframes layout-effect2 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: translate3d(0, -100%, 0);
    transform: none;
  }

}

/*
///  layout effect 3
*/

.layout-effect3 {
  -webkit-animation-name: layout-effect3;
  -moz-animation-name: layout-effect3;
  animation-name: layout-effect3;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect3 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

}

@-moz-keyframes layout-effect3 {

  0% {
    opacity: 0;
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }

}

@keyframes layout-effect3 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

}

/*
///  layout effect 4
*/

.layout-effect4 {
  -webkit-animation-name: layout-effect4;
  -moz-animation-name: layout-effect4;
  animation-name: layout-effect4;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect4 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

}

@-moz-keyframes layout-effect4 {

  0% {
    opacity: 0;
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }

}


@keyframes layout-effect4 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

}

/*
///  layout effect 5
*/

.layout-effect5 {
  -webkit-animation-name: layout-effect5;
  -moz-animation-name: layout-effect5;
  animation-name: layout-effect5;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect5 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

}

@-moz-keyframes layout-effect5 {

  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }

}

@keyframes layout-effect5 {

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }

}

/*
///  layout effect 6
*/

.layout-effect6 {
  -webkit-animation-name: layout-effect6;
  -moz-animation-name: layout-effect6;
  animation-name: layout-effect6;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect6 {

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }

}

@-moz-keyframes layout-effect6 {

  0% {
    opacity: 0;
    -moz-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }

}

@keyframes layout-effect6 {

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -moz-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }

}

/*
///  layout effect 7
*/

.layout-effect7 {
  -webkit-animation-name: layout-effect7;
  -moz-animation-name: layout-effect7;
  animation-name: layout-effect7;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect7 {

  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

}

@-moz-keyframes layout-effect7 {

  0% {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -moz-transform: perspective(400px);
    transform: perspective(400px);
  }

}

@keyframes layout-effect7 {

  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    -moz-transform: perspective(400px);
    transform: perspective(400px);
  }

}

/*
///  layout effect 8
*/

.layout-effect8 {
  -webkit-animation-name: layout-effect8;
  -moz-animation-name: layout-effect8;
  animation-name: layout-effect8;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes layout-effect8 {

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }

}

@keyframes layout-effect8 {

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }

}