/*
******************************************************************************************

/// admin css

******************************************************************************************
*/

  /*
  /////////////////////////////////

1. layout

  /////////////////////////////////
  */

/*
///  icons
*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../icons/FontAwesome/fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../icons/FontAwesome/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../icons/FontAwesome/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../icons/FontAwesome/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../icons/FontAwesome/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../icons/FontAwesome/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

ul#myTabTabs.nav.nav-tabs:before,
ul#myTabTabs.nav.nav-tabs:hover:before,
ul#myTabTabs.nav.nav-tabs a[href="#general"]:before,
ul#myTabTabs.nav.nav-tabs a[href="#assignment"]:before,
ul#myTabTabs.nav.nav-tabs a[href="#permissions"]:before,
ul#myTabTabs.nav.nav-tabs a[href="#attrib-advanced"]:before,
ul#myTabTabs.nav.nav-tabs a[href="#attrib-settings"]:before,
ul#myTabTabs.nav.nav-tabs a[href="#attrib-style"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  line-height: normal;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0% 0%;
  background-repeat: repeat;
  position: relative;
  display: block;
  text-align: center;
  font-size: 21px;
  color: #444;
  padding-top: 9px;
  margin-bottom: 4px;
}
ul#myTabTabs.nav.nav-tabs a[href="#general"]:before {
  content: "\f00a";
}
ul#myTabTabs.nav.nav-tabs a[href="#assignment"]:before {
  content: "\f0e8";
}
ul#myTabTabs.nav.nav-tabs a[href="#permissions"]:before {
  content: "\f046";
}
ul#myTabTabs.nav.nav-tabs a[href="#attrib-advanced"]:before {
  content: "\f12e";
}
ul#myTabTabs.nav.nav-tabs a[href="#attrib-settings"]:before {
  content: "\f085";
}
ul#myTabTabs.nav.nav-tabs a[href="#attrib-style"]:before {
  content: "\f0d0";
}
ul#myTabTabs.nav.nav-tabs a:hover:before,
ul#myTabTabs.nav.nav-tabs li.active a:before {
  color: #09f;
}


/*
///  tabs
*/

ul#myTabTabs {
  margin-bottom: 16px;
  border: none;
}
div#myTabContent .span6 {
  margin-top: 21px;
  margin-left: 0;
  width: 100%;
}
div#myTabContent .control-group hr {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #ffffff;
  width: 58em;
  margin: 0;
}
div#myTabContent .control-label {
  width: 20em;
}
div#myTabContent textarea {
  width: 400px;
}
ul#myTabTabs.nav.nav-tabs li a {
  color: #444444;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
  padding: 7px 18px 7px;
  line-height: 24px;
  border: 1px solid #DDD;
  border-radius: 4px;
  margin-right: 0;
  min-width: 60px;
  text-align: center;
  background-repeat: repeat-x;
  transition: all 300ms linear 0s;
}
ul#myTabTabs.nav.nav-tabs li a:focus {
  outline: none;
  outline-offset: 0;
}
ul#myTabTabs.nav.nav-tabs li.active a,
ul#myTabTabs.nav.nav-tabs > li a:hover {
  background-image: linear-gradient(to bottom, #E6E6E6, #FFF);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
  color: #444;
}
div#myTabContent .favtitle h4 {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  color: #09F;
  cursor: default;
  font-size: 18px;
  text-transform: uppercase;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 24px 0;
  width: 41em;
  font-weight: normal;
}
div#myTabContent .favtitle.first h4 {
  padding-top: 0;
  border-top: none;
}
div#myTabContent .favsubtitle h4 {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  color: #09F;
  font-weight: normal;
}
div#myTabContent .favsubtitle h4:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  line-height: normal;
  vertical-align: baseline;
  content: "\f067";
  padding-right: 0.6em;
}

/*
///  mobile
*/

@media handheld, only screen and (max-width: 800px) {

  /*/  icons  /*/

  ul#myTabTabs.nav.nav-tabs:before,
  ul#myTabTabs.nav.nav-tabs:hover:before,
  ul#myTabTabs.nav.nav-tabs a[href="#general"]:before,
  ul#myTabTabs.nav.nav-tabs a[href="#assignment"]:before,
  ul#myTabTabs.nav.nav-tabs a[href="#permissions"]:before,
  ul#myTabTabs.nav.nav-tabs a[href="#attrib-advanced"]:before,
  ul#myTabTabs.nav.nav-tabs a[href="#attrib-settings"]:before,
  ul#myTabTabs.nav.nav-tabs a[href="#attrib-style"]:before {
    display: inline;
    margin-right: 10px;
    font-size: 14px;
  }

  /*/  tabs  /*/

  ul#myTabTabs.nav.nav-tabs {
    border: 0px none;
  }
  ul#myTabTabs.nav.nav-tabs > li {
    float: none;
  }
  ul#myTabTabs.nav.nav-tabs li a {
    border-radius: 4px;
    background-color: #eee;
    background-image: linear-gradient(to bottom, #fff, #eee);
    padding: 12px 14px 10px;
    text-align: left;
    transition: none;
  }
  ul#myTabTabs.nav.nav-tabs li.active a,
  ul#myTabTabs.nav.nav-tabs > li a:hover {
    background-color: #eee;
    background-image: none;
  }
  #myTabContent.tab-content div.control-group div.control-label,
  #myTabContent.tab-content div.control-group div.controls {
    float: none;
    margin: 0;
  }

}

  /*
  /////////////////////////////////

2. fixes

  /////////////////////////////////
  */

label#jform_params_show_icon10-lbl {
  background-color: transparent !important;
  background-image: none;
  color: rgb(51, 51, 51);
  text-shadow: none !important;
}